*{
    box-sizing: border-box;   
}
footer{
    width: 1,366px;
    height: 382px;
    top: 360px;
    left: 940px;

    justify-content: space-between;
    display: flex;
    background-color: aqua;
    align-items: center;
}
input{
    width: 354px;
    height: 35px;
    background-color: cornsilk;
}
p{
    width: 354px;
    height: 20px;
}
img{
     background-color: aqua;
}
article{
    width: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    size: 16px;
    height: 26px;
}